JWT_SECRET=
GATEWAY_PORT=

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME

RABBITMQ_URL=amqp://USER:PASSWORD@HOST:5672

CATALOG_QUEUE=catalog_queue
MEDIA_QUEUE=media_queue
SEARCH_QUEUE=search_queue
AUTH_QUEUE=auth_queue